---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';
import Footer from '../components/Footer/Footer.astro';
import Mascot from '../components/Mascot/Mascot.astro';
import { Icon } from 'astro-icon';
import { CodeCopy, IconSwitcher } from 'astro-headless-ui';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${CONFIG.GITHUB_EDIT_URL}/${currentFile}`;
---

<html dir={frontmatter.dir ?? 'ltr'} lang={frontmatter.lang ?? 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
		<title>
			{frontmatter.title ? `${frontmatter.title} - ${CONFIG.SITE.title}` : CONFIG.SITE.title}
		</title>
		<style>
			body {
				width: 100%;
				display: grid;
				grid-template-rows: var(--theme-navbar-height) 1fr;
				--gutter: 0.5rem;
				--doc-padding: 2rem;
			}

			.layout {
				display: grid;
				grid-auto-flow: column;
				grid-template-columns: minmax(var(--gutter), 1fr) minmax(0, var(--max-width)) minmax(
						var(--gutter),
						1fr
					);
				overflow-x: hidden;
			}

			.grid-sidebar {
				height: 100vh;
				position: sticky;
				top: 0;
				padding: 0;
			}

			#grid-left {
				position: fixed;
				background-color: var(--theme-bg);
				z-index: 10;
				display: none;
			}

			#grid-main {
				padding: var(--doc-padding) var(--gutter);
				grid-column: 2;
				display: flex;
				flex-direction: column;
				height: 100%;
			}

			#grid-right {
				display: none;
			}

			@media (min-width: 50em) {
				.layout {
					overflow: initial;
					grid-template-columns: 20rem minmax(0, var(--max-width));
					gap: 1em;
				}

				#grid-left {
					display: flex;
					padding-left: 2rem;
					position: sticky;
					grid-column: 1;
				}
			}

			@media (min-width: 72em) {
				.layout {
					grid-template-columns: 20rem minmax(0, var(--max-width)) 18rem;
					padding-left: 0;
					padding-right: 0;
					margin: 0 auto;
				}

				#grid-right {
					grid-column: 3;
					display: flex;
				}
			}
		</style>
		<style is:global>
			.layout > * {
				width: 100%;
				height: 100%;
			}

			.mobile-sidebar-toggle {
				overflow: hidden;
			}

			.mobile-sidebar-toggle #grid-left {
				display: block;
				top: 2rem;
			}
		</style>
	</head>

	<body>
		<Header currentPage={currentPage} />
		<main class="layout">
			<aside id="grid-left" class="grid-sidebar" title="Site Navigation">
				<LeftSidebar currentPage={currentPage} />
			</aside>
			<div id="grid-main">
				<PageContent frontmatter={frontmatter} headings={headings} githubEditUrl={githubEditUrl}>
          <Mascot
            frontmatter={frontmatter}
            size={frontmatter.mascotSize ?? 100}
            position={"relative"}
            float={"right"}
            margin={20}
          />
					<slot />
        </PageContent>
			</div>
			<aside id="grid-right" class="grid-sidebar">
				<RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
			</aside>
		</main>
		<Footer path={currentFile} />
    <CodeCopy paddingY=".5em" paddingX=".3em" class="copy-code">
			<IconSwitcher name="copy-icons" active="button.copied" size="1.5rem" style="margin-top:-1px">
				<Icon name="fluent:clipboard-20-regular"/>
				<Icon name="fluent:clipboard-task-20-regular"/>
			</IconSwitcher>
		</CodeCopy>


	<script>
		window.intercomSettings = {
		  api_base: "https://api-iam.intercom.io",
		  app_id: "ulyaoqvr",
		};
	  </script>
	  
	  
	  <script>
		// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/ulyaoqvr'
		(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ulyaoqvr';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
	  </script>
	</body>
</html>
